<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="SportShopDb" connectionString="Data Source=10.7.101.197;
			 Initial Catalog = SportShop_SPY111;
			 User ID=sa;
			 Password=Qwerty-1;Connect Timeout=30;
			 Encrypt=False;TrustServerCertificate=False;
			 ApplicationIntent=ReadWrite;
			 MultiSubnetFailover=False"/>
		
		<add name ="MySportShopDb" connectionString="Data Source=DESKTOP-3HG9UVT\SQLEXPRESS;
                            Initial Catalog=SportShop;
                            Integrated Security=True;
                            Connect Timeout=2;"/>
	</connectionStrings>
</configuration>